@model Proyecto.Models.PresupuestoMensual

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Crear Presupuesto Mensual";
}

<h2>Crear Presupuesto Mensual</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Mes, "Mes (1-12)")
        @Html.TextBoxFor(m => m.Mes, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Año, "Año")
        @Html.TextBoxFor(m => m.Año, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MontoPresupuesto, "Monto Presupuestado")
        @Html.TextBoxFor(m => m.MontoPresupuesto, new { @class = "form-control" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
}
