@model Proyecto.Models.MetaFinanciera

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Crear Meta Financiera";
}

<h2>Crear Meta Financiera</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Descripcion, "Descripción")
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MontoObjetivo, "Monto Objetivo")
        @Html.TextBoxFor(m => m.MontoObjetivo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FechaLimite, "Fecha Límite")
        @Html.TextBoxFor(m => m.FechaLimite, new { @class = "form-control", type = "date" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
}
